<link rel="stylesheet" href="../styles.css">
<header>
    <a href="/">Home</a>
    <h1>CoderChat</h1>
    <div>Tu email es <span id="user">{{user.email}}</span></div>
</header>
<main>
    <div id="chatZone">
    </div>
    <div id="messageZone">
        <input type="text" id="chatBox">
        <button onclick="sendMessage()">|></button>
    </div>
</main>

<script src="../controllers/ChatController.js"></script>
