<!DOCTYPE html>
<html>
<head>
  <title>Lista de Productos</title>
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    {{#each products}}
    <li>{{name}} - ${{price}}</li>
    {{/each}}
  </ul>

  <h2>Bienvenido, {{user.email}}</h2>
  <p>Rol: {{user.role}}</p>

  <a href="/logout">Cerrar Sesión</a>
</body>
</html>
