<!DOCTYPE html>
<html>
<head>
  <title>Registro</title>
</head>
<body>

  <form action="/register" method="POST">
>
    <button type="submit">Registrarse</button>
    <a href="/auth/github">Registrarse con GitHub</a>.
  </form>


</body>
</html>
